* {
	margin:0; padding:0;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -0.4pt;
    -webkit-transition: all 0.7s;
}

#app {
    position: absolute;
    overflow-x: hidden;
}

#con_wrap {
    width:100%; height:100%;
    position: absolute;
    padding-left: 80px;
    z-index: -99;
}

#nav_wrap {
    margin-left: -320px;
	width: 320px; height: 100%;
    background-color: #4d5258;    
    position: fixed;
}

#nav_wrap ul {
    top:50%; left:35px;
    font-size: 17pt;
    line-height: 1.5;
    margin: -80px 0 0 0;
    list-style:none;
    position:absolute;
    
    width:100px;
    overflow-x: hidden;
}

#nav_wrap ul li a {-webkit-transition: all 0.0s;}
#nav_wrap ul li a:link    {color:#c2c2c2;}
#nav_wrap ul li a:visited {color:#c2c2c2;}
#nav_wrap ul li a:hover   {color:white;}
#nav_wrap ul li a:active  {color:white;}

#nav_wrap #footer {
    visibility: inherit;
    left:35px;
    bottom:36px;
    color:#aaaaaa;
    font-size: 10pt;
    position: absolute;
    
    width:220px;
    overflow-x: hidden;
}

#nav_wrap #footer #footer_contact {
    color:#d4d4d4;
    text-decoration-line: underline;
}

#nav_bar {
    width: 80px; height: 100%;
    position:fixed;
    
    background-color: white;
}

/*---MenuToggleBtn---*/
#nav_bar #nav_icon {
  width: 18px;
  height: 18px;
  position: relative;
  margin: 36px 31px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav_bar #nav_icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4379e6;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav_bar #nav_icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav_bar #nav_icon span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav_bar #nav_icon span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav_bar #nav_icon.open span:nth-child(1) {
  left: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
  width: 110%;
}
#nav_bar #nav_icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav_bar #nav_icon.open span:nth-child(3) {
  left :1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
  width:110%;
}

#nav_bar ul {
    margin-left: 35px;
    font-size: 10pt;
    line-height: 1.2;
    top: 43%;
    position:absolute;
}

#pg_nav li {overflow:hidden;}
#pg_nav li a {-webkit-transition: all 0.3s;}
#pg_nav li a:link       {color:#cfcfcf;}
#pg_nav li a:visited    {color:#cfcfcf;}
#pg_nav li a:hover      {color:#cfcfcf;}
#pg_nav li a:active     {color:#4379e6;}

/*---
#nav_bar #logo {
    width:15px; height:125px;
    bottom:38px; left:33px;
    position:absolute;
    background: url(../img/logo.png) no-repeat;
} ---*/

#nav_bar #logo {
    text-align: center;
    width:140px; height:23px;
    line-height:23px;
    overflow: hidden;
    left:-31px;
    bottom: 95px;
    font-style: italic;
    font-size: 15pt;
    position:absolute;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

#nav_bar #logo #noneStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#scene01 {
    width:100%;
    height:100%;
    position:fixed;
    background-color: #c1e2e9;
}

#scene02 {
    width:100%;
    height:100%;
    top: 100%;
    position:relative;
}

#scene02 #intro01 {
    width: 50%;
    height:100%;
    background-color: antiquewhite;
    float: left;
}

#scene02 #intro03 {
    width: 25%;
    height: 100%;
    background-color:fuchsia;
    float: right;
}

#scene03 {
    width:100%;
    height:100%;
    top: 100%;
    position:relative;
    background-color:dodgerblue;
}

#scene04 {
    width:100%;
    height: auto;
    top: 100%;
    position: relative;
    background-color: beige;
}

.col01 #work01, .col01 #work02, .col01 #work03 {
    float: left;
    display:block;
}

.col02 #work01, .col02 #work02, .col02 #work03 {
    float: right;
    display: block;
}

#work01 {
    padding-bottom: calc(100%/3*2);
    background-color: red;
}

#work02 {
    padding-bottom: calc(100%/3*2);
    background-color: aqua;
}

#work03 {
    padding-bottom: calc(100%/3);
    background-color: darkmagenta;
}
#work05 {
    float:left;
    width:50%;
    padding-bottom: calc(100%/3*2);
    background-color:aquamarine;
}

#work04 {
    padding-bottom: 100%;
    background-color:chartreuse;
}

#work06{
    float:left;
    width:50%;
    padding-bottom: calc(100%/3*2);
    background-color: coral;
}

#scene05 {
    width:100%;
    height: 100%;
    top: 100%;
    position: relative;
    background-color: beige;
}
