@media screen and (max-height: 600px) {
    .re-hide-narrow {
        display: none;
    }
}

@-webkit-media all and (max-width: 600px) {
    .re-hide-small {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .re-hide-large {
        display: none;
    }
}

* {
	margin:0; padding:0;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -0.4pt;
}

#app {
    height: 100%;
    -webkit-transition: all 0.7s;
    position: absolute;
    overflow-x: hidden;
    z-index: 99;
    position: fixed;
}

#nav_bar {
    background-color: #FFF;
    height: 100%;
    width: 80px;
    position: fixed;
    -webkit-transition: all 0.7s;
}

#con_wrap {
    width:100%; height:100%;
    text-align: center;
    position: absolute;
    z-index: -99;
}

#app .nav_wrap {
    -webkit-transition: all 0.7s;
    margin-left: -300px;
	width: 300px; height: 100%;
    background-color: #4d5258;    
    position: fixed;
}

#top_app .nav_wrap {
    -webkit-transition: all 0.7s;
    width: 100%; height: 100%;
    margin-left: -100%;
    background-color: #4d5258;
    position: fixed;
    overflow: hidden;
    z-index: 99;
}

#top_app .nav_wrap ul {
    width: 250px;
    height: 300px;
    font-size: 40pt;
    margin-left: calc(50% - 125px);
    top: 50%;
    margin-top: -150px;
    list-style:none;
    text-align: center;
    overflow: hidden;
    position:absolute;
}

#app .nav_wrap ul {
    top:50%; left:35px;
    font-size: 17pt;
    line-height: 1.5;
    margin-top: -100px;
    list-style:none;
    position:absolute;
    
    width:100px;
    overflow-x: hidden;
}

.nav_wrap ul li a {-webkit-transition: all 0.0s;}
.nav_wrap ul li a:link    {color:#c2c2c2;}
.nav_wrap ul li a:visited {color:#c2c2c2;}
.nav_wrap ul li a:hover   {color:white;}
.nav_wrap ul li a:active  {color:white;}

.nav_wrap #footer {
    visibility: inherit;
    left:35px;
    bottom:36px;
    color:#aaaaaa;
    font-size: 10pt;
    position: absolute;
    
    width:220px;
    overflow-x: hidden;
}

.nav_wrap #footer #footer_contact {
    color:#d4d4d4;
    text-decoration-line: underline;
}

/*------MenuToggleBtn------*/
#nav_bar .nav_icon {
    margin: 36px 33px;
}
#top_app #nav_icon{
    margin: 16px 20px;
    float:right;
}

#nav_icon_close {
    margin: 23px 20px;
    float: right;
}


.nav_icon, #nav_icon,  #nav_icon_close {
  width: 18px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.nav_icon span, #nav_icon span, #nav_icon_close span {
  background: #4379e6;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav_icon span:nth-child(1), #nav_icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.nav_icon span:nth-child(2), #nav_icon span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.nav_icon span:nth-child(3), #nav_icon span:nth-child(3) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.nav_icon.open span:nth-child(1), #nav_icon_close span:nth-child(1) {
  left: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
  width: 100%;
}
.nav_icon.open span:nth-child(2), #nav_icon_close span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav_icon.open span:nth-child(3), #nav_icon_close span:nth-child(3) {
  left :1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
  width:100%;
}
#nav_icon_close span {
    background: #FFF;
}

#nav_list {
    overflow: hidden
}
#nav_bar ul {
    font-size: 10pt;
    line-height: 1.2;
    top: 50%;
    margin-left: 35px;
    margin-top: -65px;
    position:absolute;
}

#pg_nav li {overflow:hidden;}
#pg_nav li a {-webkit-transition: all 0.3s;}
#pg_nav li a:link       {color:#cfcfcf;}
#pg_nav li a:visited    {color:#cfcfcf;}
#pg_nav li a:hover      {color:#cfcfcf;}
#pg_nav li a:active     {color:#4379e6;}

#nav_bar #logo {
        -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    left:-31px;
    bottom: 95px;
}
#top_bar #logo {
    left: calc(50% - 70px);
    top: 13px;
    cursor: pointer;
}

#logo {
    text-align: center;
    width:140px; height:23px;
    line-height:23px;
    overflow: hidden;
    font-style: italic;
    font-size: 15pt;
    position:absolute;
}

#logo #noneStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#top_bar {
    width:100%;
    height: 50px;
    position: fixed;
    background-color: #FFF;
}

#scene01 {
    width:100%;
    height:100%;
    position:fixed;
    background-color: #c1e2e9;
    z-index: inherit;
}

#scene02 {
    width:100%;
    height:100%;
    top: 100%;
    position:relative;
}

#scene02 #intro01 {
    width: 50%;
    margin-top: 50px;
    height: calc(100% - 100px);
    background-color: antiquewhite;
    float: left;
}

#scene02 #intro03 {
    width: 25%;
    margin-top: 50px;
    height: calc(100% - 100px);
    background-color:fuchsia;
    float: right;
}

#scene03 {
    width:100%;
    height:100%;
    top: 100%;
    position:relative;
    background-color:dodgerblue;
}

#scene04 {
    width:100%;
    height: auto;
    top: 100%;
    position: relative;
    background-color: beige;
}

.col01 #work01, .col01 #work02, .col01 #work03 {
    float: left;
    display:block;
}

.col02 #work01, .col02 #work02, .col02 #work03 {
    float: right;
    display: block;
}

#work01 {
    padding-bottom: calc(100%/3*2);
    background-color: red;
}

#work02 {
    padding-bottom: calc(100%/3*2);
    background-color: aqua;
}

#work03 {
    padding-bottom: calc(100%/3);
    background-color: darkmagenta;
}
#work05 {
    float:left;
    width:50%;
    padding-bottom: calc(100%/3*2);
    background-color:aquamarine;
}

#work04 {
    padding-bottom: 100%;
    background-color:chartreuse;
}

#work06{
    float:left;
    width:50%;
    padding-bottom: calc(100%/3*2);
    background-color: coral;
}

#scene05 {
    width:100%;
    height: 100%;
    top: 100%;
    position: relative;
    background-color: beige;
}
